#draw{
    position: absolute;
    top:60px;
    left: 80px;
    float: left;
    z-index: 5;
    background-color: white;
}

#pencil{
    position: absolute;
    top: 70px;
    left: 1150px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#pencil_width{
    position: absolute;
    top: 70px;
    left: 1250px;
    z-index: 5;
}

#eraser{
    position: absolute;
    top: 140px;
    left: 1150px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#text{
    position: absolute;
    top: 140px;
    left: 1250px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#textbox{
    float: left;
    position: absolute;
    font: 28px orbitron;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 1;
}

#textsize{
    position: absolute;
    top: 153px;
    left: 1350px;
    z-index: 5;
}

#textstyle{
    position: absolute;
    top: 153px;
    left: 1400px;
    z-index: 5;
}

#reset{
    position: absolute;
    top: 400px;
    left: 1400px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#rectangle{
    position: absolute;
    top: 230px;
    left: 1152px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#circle{
    position: absolute;
    top: 230px;
    left: 1280px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#triangle{
    position: absolute;
    top: 230px;
    left: 1400px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#undo{
    position: absolute;
    top: 400px;
    left: 1152px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#redo{
    position: absolute;
    top: 400px;
    left: 1275px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#download{
    position: absolute;
    top: 320px;
    left: 1225px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#upload{
    position: absolute;
    top: 320px;
    left: 1350px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

#color-input{
    display: none;
}
#color-label {
    left: 1170px;
    top: 480px;
    position: absolute;
    height: 30px;
    width: 50px;
}

#color-input:checked ~ #color-picker {
    opacity: 1;
}

#color{
    position: absolute;
    background-color: white;
    opacity: 1;
    padding: 5px;
    height: 150px;
    width: 185px;
    border: solid 1px #ccc;
    top: 480px;
    left: 1225px;
}

body{
    background: linear-gradient(113deg, rgba(255, 120, 0, 0.5)15%, rgba(255, 255, 182, 0.8)65%);
    background: -moz-linear-gradient(113deg, rgba(255, 120, 0, 0.5)15%, rgba(255, 255, 182, 0.8)65%);
    background: -webkit-linear-gradient(113deg, rgba(255, 120, 0, 0.5)15%, rgba(255, 255, 182, 0.8)65%);
    background: -o-linear-gradient(113deg, rgba(255, 120, 0, 0.5)15%, rgba(255, 255, 182, 0.8)65%);
}

#shape{
    position: absolute;
    background: linear-gradient(289deg, rgba(255, 255, 255, 0.6)51%, rgba(0, 0, 0, 0)100%);
    background: -moz-linear-gradient(289deg, rgba(255, 255, 255, 0.6)51%, rgba(0, 0, 0, 0)100%);
    background: -webkit-linear-gradient(289deg, rgba(255, 255, 255, 0.6)51%, rgba(0, 0, 0, 0)100%);
    background: -o-linear-gradient(289deg, rgba(255, 255, 255, 0.6)51%, rgba(0, 0, 0, 0)100%);
    width: 400px;
    height: 600px;
    top: 60px;
    left: 1100px;
    background-color: gray;
}